<%- include('partials/_header') -%>
<body>
<%- include('partials/_navigation') -%>
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Clean Blog</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->

  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-md-10 mx-auto">
        <% for(let i = 0; i < posts.length; i++) {%>
        <div class="post-preview">
          <a href="/posts/<%= posts[i]._id %>">
            <h2 class="post-title">
              <%= posts[i].title %>
            </h2>
            <h3 class="post-subtitle">
              <%= posts[i].detail.slice(0, 172) + (posts[i].detail.length > 172 ? "..." : "") %>
            </h3>
          </a>
        </div>
        <hr>
        <% } %>

            <!-- Navigation -->
          <% if (pages > 0) {%>
          <nav aria-label="Page navigation">
            <ul class="pagination">

                <li class="page-item">
                  <% if ((parseInt(current) - parseInt(1)) === 0) { %>
                  <a class="page-link" href="#" >
                    <span aria-hidden="true">⬅️</span>
                  </a>
                  <% } else { %>
                      <a class="page-link" href="?page=<%= parseInt(current) - parseInt(1) %>" aria-disabled="true">
                        <span aria-hidden="true">⬅️</span>
                      </a>
                  <% }%>
                </li>
                <% if (!((parseInt(current) - parseInt(1)) === 0)) {%>
                    <li class="page-item" href="?page=<%= parseInt(current) - parseInt(1) %>" tabindex="-1" aria-disabled="true"><a class="page-link" href="?page=<%= parseInt(current) - parseInt(1) %>"><%= parseInt(current) - parseInt(1) %></a></li>
                <% }%>
                <li class="page-item active" href="?page=<%= parseInt(current) %>" tabindex="-1" aria-disabled="true"><a class="page-link" href="?page=<%= parseInt(current) %>"><%= parseInt(current) %></a></li>
                <% if (parseInt(current) !== parseInt(pages)) { %>
                    <li class="page-item" href="?page=<%= parseInt(current) + parseInt(1) %>" tabindex="-1" aria-disabled="true"><a class="page-link" href="?page=<%= parseInt(current) + parseInt(1) %>"><%= parseInt(current) + parseInt(1) %></a></li>
                <% } %>
                <% if (parseInt(current) == parseInt(pages)) { %>
                <li class="page-item">
                  <a class="page-link" href="#" aria-disabled="false">
                    <span aria-hidden="true">➡️</span>
                  </a>
                </li>
                <% } else { %>
                    <li class="page-item">
                        <a class="page-link" href="?page=<%= parseInt(current) + parseInt(1) %>" aria-disabled="true">
                            <span aria-disabled="true" aria-hidden="true">➡️</span>
                        </a>
                    </li>
                <% } %>
            </ul>
          </nav>
        <% } %>
      </div>
    </div>
  </div>

  <hr>
</body>
<%- include('partials/_footer') -%>


